---
import GraphicSpecies from "../components/GraphicSpecies.astro";
---

<main style="background: linear-gradient(90deg, #e0eafc 0%, #cfdef3 100%); min-height: 100vh; padding: 2rem; ;">
    <nav>
        <a href="/test-iframe" style="margin:0 1rem; color:#0a598d; font-weight:bold; text-decoration:none;">Visualisation par IFRAME</a> |
        <a href="/index" style="margin:0 1rem; color:#0a598d; font-weight:bold; text-decoration:none;">Home</a>
    </nav>
    <h1 style="text-align:center; font-size:2.5rem; margin-bottom:1.5rem; color:#1a2129;">Comparaison graphique des especes</h1>
    <nav style="text-align:center; margin-bottom:2rem;">
        <select id="species-anchor-select" style="font-size:1.2rem; padding:0.5rem 1rem;">
            <option value="adelie">Adelie</option>
            <option value="gentoo">Gentoo</option>
            <option value="chinstrap">Chinstrap</option>
        </select>
    </nav>

    <div class="slider">
        <section id="adelie" class="slide">
            <GraphicSpecies species="Adelie" />
        </section>
        <section id="gentoo" class="slide">
            <GraphicSpecies species="Gentoo" />
        </section>
        <section id="chinstrap" class="slide">
            <GraphicSpecies species="Chinstrap" />
        </section>
    </div>
</main>


<style>
.slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 40%;
  gap: 0.5rem;
  align-items: center;
}
.slider section {
  min-width: 600px;
  flex: 0 0 auto;
  scroll-margin-left: 2rem;
  border: 1px solid #18aa25;
  background: #fff;
  border-radius: 1rem;
  margin: 0.5rem 0;
  padding: 0rem 1rem;
  transition: box-shadow 0.2s;
}
.slide:hover {
    box-shadow: 0 8px 32px rgba(44,62,80,0.16);
}
@media (max-width: 700px) {
    .slide {
        min-width: 90vw;
        max-width: 95vw;
    }
}
</style>

<script>
    document.querySelector('#species-anchor-select')?.addEventListener('change', function(evt) {
        const value = (evt.target as HTMLSelectElement).value;
        location.hash = value;
        const section = document.getElementById(value);
        section?.scrollIntoView({ behavior: 'smooth', inline: 'start' });
    });
</script>